<div class="main d-flex flex-column">
  <h1>Pokemon List</h1>

  <hr />

  <div class="row justify-content-center g-2 mt-3">
    @for (pokemon of favoritesPokemon$ | async; track pokemon.name) {
    <div class="col-md-4 col-lg-3 col-xl-2 w-0" >
      <a [routerLink]="['pokemons', pokemon.id]">
        <div class="card border-2 rounded-circle">
          <div class="card-body text-center">
            <img class="img-fluid" [src]="pokemon.urlSprite" [alt]="pokemon.name" />
          </div></div
      ></a>
    </div>
    }
  </div>

  <div class="row g-3 mt-3">
    @for (pokemon of pokemons$ | async; track pokemon.name) {
    <div class="col-md-4 col-lg-3 col-xl-2">
      <app-card-pokemon
        [pokemon]="pokemon"
        [showLink]="true"
        (favoriteStateChanged)="localStorageService.changePokemonStatus($event)"
      ></app-card-pokemon>
    </div>
    }
  </div>
</div>
