<h2>Pokemon Details</h2>

<hr />

<div class="row">
  <div class="col-lg-4">
    <app-card-pokemon
      [pokemon]="pokemonDetails"
      [showLink]="false"
      (favoriteStateChanged)="changePokemonStatus($event)"
    ></app-card-pokemon>
  </div>
  <div class="col">
    <div class="d-grid">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0 fw-bolder fs-4">
          {{ pokemonDetails?.name }}
        </h2>
        <div class="d-flex jusitfy-content-center gap-2">
          @for (tipo of pokemonDetails?.types; track $index){
          <span class="badge rounded-pill text-light fs-6" [ngClass]="colorByTypeMapping[tipo]">
            {{ tipo }}
          </span>
          }
        </div>
      </div>
      <hr />

      <section>
        <h3 class="fw-normal">Sprites</h3>

        <div class="row g-3 mt-3">
          @for (sprite of pokemonDetails?.sprites; track $index) {
          <div class="col-2">
            <div class="card h-100">
              <div class="card-body">
                <img class="img-fluid my-auto" style="max-height: 100px" [src]="sprite" />
              </div>
            </div>
          </div>
          }
        </div>
      </section>

      <hr />

      <section>
        <h3 class="fw-normal">Cries</h3>

        <div class="table-responsive-lg mt-4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="ps-3">Actual</th>
                <th class="ps-3">Last</th>
              </tr>
            </thead>
            @if (pokemonDetails){
            <tbody>
              <tr>
                <td>
                  <audio controls style="height: 40px; max-width: 180px" class="mt-2">
                    <source [src]="pokemonDetails.cries.actual" type="audio/ogg" />
                    Seu navegador não suporta o elemento audio.
                  </audio>
                </td>
                <td>
                  <audio controls style="height: 40px; max-width: 180px" class="mt-2">
                    <source [src]="pokemonDetails.cries.oldest" type="audio/ogg" />
                    Seu navegador não suporta o elemento audio.
                  </audio>
                </td>
              </tr>
            </tbody>
            }
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
